<%= render 'layouts/public_header'%>

<h2>フォローしたミュージシャン</h2>

<table class="table">
    <thead class="bg-light">
        <tr>
            <th>名前</th>
            <th>投稿イベント</th>
            <th>ジャンル</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <% @musician.each do |musician|%>
              <td><%=musician.name%></td>
              <td><%=musician.events.count%></td>
              <% musician.genre_items.each do |genre_item|%>
                <td><%=genre_item.name%></td>
              <%end%>
            <%end%>
        </tr>
    </tbody>
</table>