<%=render 'layouts/musician_header'%>

<h2>フォロワー一覧</h2>

<table>
    <thead class="bg-light">
        <tr>
            <th>フォロワー名</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% @followers.each do |follower|%>
              <td><%=follower.name%></td>
            <%end%>
        </tr>
        
    </tbody>
</table>
<%= paginate @followers%>