<%=render 'layouts/musician_header'%>

<main>
  <div class="row">
    <div class="col-4"></div>
      <h2 class="col-4 bg-light text-center">フォロワー一覧</h2>
    <div class="col-4"></div>
  </div>
  
  <div class="mx-auto w-50">
    <table class="table text-center">
        <thead class="bg-light">
            <tr>
                <th class="text-center">フォロワー名</th>
            </tr>
        </thead>
        <tbody>
            <% @followers.each do |follower|%>
                <tr>
                  <td><%=follower.name%></td>
                </tr>
            <%end%>
        </tbody>
    </table>
    
    <div class="text-center">
        <%= paginate @followers%>  
    </div>
  </div>
</main>