<%=render 'layouts/musician_header'%>

<h2>フォロワー一覧</h2>

<table>
    <thead class="bg-light">
        <tr>
            <th>フォロワー名</th>
        </tr>
    </thead>
    <tbody>
        <% @followers.each do |follower|%>
          <tr>
              <td><%=follower.user.name%></td>
          </tr>
        <%end%>
    </tbody>
</table>