<%= render 'layouts/admin_header'%>

<main>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
          <h2 class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12 bg-light text-center">ユーザー一覧</h2>
        <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
    </div>
    
    <table class="table justify-content-center mx-auto">
        <thead class="bg-light">
            <tr>
                <th class="text-center">ユーザー</th>
                <th class=text-center>退会ステータス</th>
            </tr>
        </thead>
        <% @users.each do |user|%>
        <tbody>
            <tr>
                <td class="text-center"><%=link_to user.name,admin_user_path(user.id)%></td>
                <td class="text-center"><%=user.is_deleted_i18n%></td>
            </tr>
            
        </tbody>
        <%end%>
    </table>
    <%= paginate @users%>
</main>

    