<%= render 'layouts/admin_header'%>

<h2>ユーザー一覧</h2>

<table class="table">
    <thead class="bg-light">
        <th>ユーザー</th>
    </thead>
    <% @users.each do |user|%>
    <tbody>
        <td><%=link_to user.name,admin_user_path(user.id)%></td>
    </tbody>
    <%end%>
</table>